{% extends 'base.html.twig' %}


{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<h2>List</h2>
<a href="{{ path('post.putBackMovie',{id:user.MovieRentId} )}}">
             Return actual rent   {{ user.MovieRentId }}
</a>
<table class="table table-striped">

    <thead>
    
        <tr>
        
            <td>Id</td>
            <td>Title</td>
            <td>Year</td>
            <td>Stock</td> 
            <td>action</td>
          

        </tr>

    </thead>
    <tbody>
         {% for post in posts %}

        <tr>

            <td> {{ post.id }} </td>
            <td>  <a href="{{ path('post.show',{id:post.id} )}}">
                {{ post.title}}
                </a>
             </td>
             <td> {{ post.year }} </td>
            <td> {{ post.stock }} </td>
            
             <td> 

            {% if is_granted('ROLE_ADMIN') %}
              <a class="text-danger" href="{{ path('post.delete',{id:post.id} )}}">
                Delete
                </a>
                
            {% endif %}
                 <a class="text-success" href="{{ path('post.rent',{id:post.id} )}}" onclick="return confirm('this rent will be 1$\n continue?')">
                Rent
                </a>
           </td>
        </tr>

         {% endfor %}

         
         
        
    </tbody>



</table>
        
        
        
        
        

{% endblock %}
